# {{ ansible_managed }}

# Disable greeting
set -g fish_greeting

# Environemnt variables
{% for var in home_vars %}
set -gx {{ var }}
{% endfor %}

fish_add_path {{ path | join(" ") }}

if status is-interactive
    # Commands to run in interactive sessions can go here

    # Abbreviations
    abbr -a ls "ls -lah"
    abbr -a mkdir "mkdir -p"
    abbr -a cp "cp -iv"
    abbr -a mv "mv -iv"
    abbr -a rm "rm -iv"
    abbr -a sai "sudo -E apt install"
    abbr -a sau "sudo -E apt update"
    abbr -a sap "sudo -E apt purge"
    abbr -a sudo "sudo -E"

    # Functions (and aliases)

    function mkcd --description 'create a folder and move into it'
        mkdir -p $argv
        and cp $argv
    end

    function vi --wraps vi --description 'alias vi="nvim"'
        nvim $argv
    end

    function vim --wraps vim --description 'alias vim="nvim"'
        nvim $argv
    end

    function safu --wraps apt --description 'alias safu="sudo apt update && sudo apt full-upgrade && sudo apt autopurge && fish_update_completions && fisher update"'
        sudo apt update && sudo apt full-upgrade && sudo apt autopurge && fish_update_completions && fisher update
    end

end
