---
### Ansible

username: acer
ip: 192.168.1.253
ssh:
  key: ~/.ssh/servers
  port: 22

ansible_host: "{{ ip }}"
ansible_user: "{{ username }}"
ansible_connection: ssh
ansible_port: "{{ ssh.port }}"
ansible_ssh_private_key_file: "{{ ssh.key }}"

### Firmware packages

firmware_packages:
  # - firmware-iwlwifi
  - firmware-realtek
  # - bumblebee-nvidia
  # - primus-nvidia
  # - primus-vk-nvidia

### Hostname

hostname: aspire

### Dropbrear

dropbear:
  gateway: 192.168.1.254
  netmask: 255.255.255.0
  ip: 192.168.1.252
  port: 22
  timeout: 300
  authorized_keys:
    - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEf5Nt/JVAhptEaxDU/5Rdf284QswbVpKOOWFf7o5RAk ickule@opendan"

### Network Sharing

samba:
  private:
    share: "{{ data }}"
    user: "{{ username }}"
    password: "{{ vault_samba_password }}"

### Jellyfin

jellyfin_media_root: "{{ samba.public.share }}/media"
