# {{ ansible_managed }}

function safu --wraps apt --description 'alias safu="sudo apt update && sudo apt full-upgrade && sudo apt autopurge && fish_update_completions "'
    sudo apt update && sudo apt full-upgrade && sudo apt autopurge && fish_update_completions
end
