# {{ ansible_managed }}

if status is-interactive
    abbr -a ls "ls -l"
    abbr -a mkdir "mkdir -vp"
    abbr -a cp "cp -v"
    abbr -a mv "mv -v"
    abbr -a rm "rm -v"
    abbr -a sai "sudo -E apt install"
    abbr -a sau "sudo -E apt update"
    abbr -a sap "sudo -E apt purge"
    abbr -a sudo "sudo -E"
    abbr -a bye "sudo systemctl poweroff"
end
