---
### Environment variables

xdg_config_home: $HOME/.config
xdg_cache_home: $HOME/.cache
xdg_data_home: $HOME/.local/share
xdg_state_home: $HOME/.local/state
xdg_bin_home: $HOME/.local/bin

editor: nvim
visual: nvim
pager: less

home_vars:
  - XDG_CONFIG_HOME {{ xdg_config_home }}
  - XDG_CACHE_HOME {{ xdg_cache_home }}
  - XDG_DATA_HOME {{ xdg_data_home }}
  - XDG_STATE_HOME {{ xdg_state_home }}
  - XDG_BIN_HOME {{ xdg_bin_home }}
  - VISUAL {{ visual }}
  - EDITOR {{ editor }}
  - PAGER {{ pager }}
  - ANSIBLE_HOME $XDG_DATA_HOME/ansible
  - ANSIBLE_CONFIG $XDG_CONFIG_HOME/ansible.cfg
  - ANSIBLE_GALAXY_CACHE_DIR $XDG_CACHE_HOME/ansible/galaxy_cache

path:
  - $XDG_BIN_HOME

### System

system_packages:
  - neovim
  - less
  - curl
  - btop
  - btrfs-progs
  - rsync

### System

timezone: Europe/Paris

debian_package_url: https://deb.debian.org/debian
debian_security_url: https://security.debian.org/debian-security
